<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXXaghkmDUI2kiwoc-HRuThjDiiOgEXdc</string>
	<key>GCM_SENDER_ID</key>
	<string>671926549475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideZo</string>
	<key>PROJECT_ID</key>
	<string>ridezo-fbe63</string>
	<key>STORAGE_BUCKET</key>
	<string>ridezo-fbe63.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671926549475:ios:1abd7c83dd9d165c007ed6</string>
</dict>
</plist>